@using Eventures.Web.Areas.Event.ViewModels

@model IEnumerable<EventureEventMyEventsViewModel>

@{
	ViewData["Title"] = "My Events";
}

<h1 class="text-center">My Events</h1>
<hr class="hr-3 half-width"/>
@if (!Model.Any())
{
	<div class="col-md-1 d-flex justify-content-between">
		<h3 class="text-center">No events.</h3>
	</div>
}
else
{
	<div class="col-md-9 d-flex justify-content-between">
		<table class="text-center table table-striped">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Name</th>
					<th scope="col">Start</th>
					<th scope="col">End</th>
					<th scope="col">Tickets</th>
				</tr>
			</thead>
			<tbody>
				@{
					int index = 1;
				}
				@foreach (var eventureEvent in Model)
				{
					<tr>
						<th scope="row">@index</th>
						<td>@eventureEvent.Name</td>
						<td>@eventureEvent.Start</td>
						<td>@eventureEvent.End</td>
						<td>@eventureEvent.Tickets</td>
					</tr>
					index++;
				}
			</tbody>
		</table>
	</div>
}
<hr class="hr-3 half-width"/>
